.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  position: relative;
  z-index: -1;
}

.hero-wrapper {
  width: 87.5%;
  height: 100%;
  max-width: 1300px;
  max-height: 600px;
  display: flex;
}

.hero-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-intro {
  width: 100%;
  font-size: 1rem;
  text-align: left;
  font-weight: 700;
  background: rgb(253, 88, 110);
  background: linear-gradient(
    90deg,
    rgba(253, 88, 110, 1) 0%,
    rgba(94, 43, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-name {
  margin: 5px 0px;
  width: 100%;
  text-align: left;
  font-size: 4rem;
  font-weight: 700;
  color: white;
}

.hero-phrase {
  margin: 5px 0px;
  width: 100%;
  max-width: 1000px;
  text-align: left;
  font-size: 3.5rem;
  font-weight: 700;
  /* color: #5e2bff; */

  background: rgb(253, 88, 110);
  background: linear-gradient(
    90deg,
    rgba(253, 88, 110, 1) 0%,
    rgba(94, 43, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-desc {
  width: 100%;
  max-width: 550px;
  text-align: left;
  margin: 10px 0px;
  color: #ece7dc;
}

@media screen and (max-width: 1425px) {
  .hero-desc {
    width: 85%;
  }
}

@media screen and (max-width: 1230px) {
  .hero-phrase {
    font-size: 3rem;
    width: 77%;
  }

  .hero-name {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 900px) {
  .hero-desc {
    width: 90%;
    font-size: 0.9rem;
  }

  .hero-name {
    font-size: 2rem;
  }

  .hero-phrase {
    font-size: 3rem;
    width: 90%;
  }
}

@media screen and (max-width: 810px) {
  .hero-phrase {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .hero-desc {
    width: 110%;
    font-size: 0.9rem;
  }

  .hero-name {
    font-size: 2rem;
  }

  .hero-intro {
    font-size: 0.9rem;
  }

  .hero-phrase {
    font-size: 2.25rem;
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .hero-intro {
    font-size: 0.8rem;
  }

  .hero-desc {
    width: 110%;
  }

  .hero {
    padding-top: 20px;
  }

  .hero-phrase {
    font-size: 1.9rem;
    width: 90%;
  }

  .hero-name {
    font-size: 1.6rem;
    width: 110%;
  }

  .herobutton {
    width: 80px;
    height: 40px;
  }

  .hero-right-mobile {
    font-size: 3rem;
  }
}

@media screen and (max-width: 430px) {
  .hero-phrase {
    width: 110%;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 340px) {
  .hero-name {
    width: 100%;
    font-size: 1.4rem;
  }

  .hero-intro {
    font-size: 0.7rem;
    width: 80%;
  }

  .hero-phrase {
    font-size: 1.3rem;
  }
}

.hero-button {
  width: 100%;
  text-align: left;
}

.hero-button button {
  margin: 5px 0px;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: #fd586e 2px solid;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(253, 88, 110);
  background: linear-gradient(
    90deg,
    rgba(253, 88, 110, 1) 0%,
    rgba(94, 43, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  color: #fd586e;
  font-weight: 700;
  transition: all 200ms ease-in-out;
}

@media screen and (max-width: 500px) {
  .hero-button button {
    width: 80px;
    height: 35px;
    font-size: 0.8rem;
    font-weight: 400;
    border: #fd586e 1px solid;
  }

  .hero-right-mobile {
    font-size: 3rem;
  }
}

.hero-button button:hover {
  border: transparent;
  background: linear-gradient(
    90deg,
    rgba(253, 88, 110, 1) 0%,
    rgba(94, 43, 255, 1) 100%
  );
  color: white;
  font-weight: 700;
}

.hero-right {
  width: 50%;
  height: 100%;
  /* border: purple 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* z-index: 0; */
}

.hero-grid {
  width: 90%;
  max-width: 450px;
  height: 60%;
  /* border: yellow 1px solid; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero-right {
  color: #253442;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  position: relative;
  /* z-index: -1; */
  margin-right: 30px;
}

.hero-shape {
  width: 25%;
  min-width: 90px;
  max-width: 120px;
  height: 90%;
  background-color: #fd586e;
  transform: skew(20deg);
  border-radius: 15px;
  margin-right: 10px;
  position: relative;
  /* z-index: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.hero-shape svg:hover {
  transform: skew(-20.5deg);
}

.hero-shape svg {
  transform: skew(-20.5deg);
}

.hero-shape:hover {
  background-color: #5e2bff;
  margin-top: -10px;
}

.hero-shape:hover svg {
  color: #fd586e;
}

.hero-plus button {
  outline: none;
  font-size: 2.2rem;
  color: #fd586e;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 200ms ease-in-out;
}

.hero-plus button:hover {
  color: #5e2bff;
  transform: scale(1.1);
}

.nav-pic {
  width: 100%;
  height: 100%;
  border: yellow 1px solid;
}

.hero-right-mobile {
  width: 50%;
  color: #0d1f2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  position: relative;
}

.skill-grid {
  cursor: pointer;
}

.skill-grid:hover {
  color: #5e2bff;
  transform: scale(1.1);
}

@media screen and (max-height: 700px) {
  .hero-right-mobile {
    font-size: 2.5rem;
  }
}
