.experience {
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
  background-color: #09151e;
}

.experience-wrapper {
  margin: 20px 0;
  padding-bottom: 70px;
  width: 87.5%;
  height: 100%;
  max-width: 1050px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
}

.experience-wrapper h2 {
  font-size: 4rem;
  color: #5e2bff;
  margin-bottom: 20px;
}

.experience-title {
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 152.5px;
  margin-bottom: 40px;
}

.title-bar-experience {
  height: 3px;
  width: 40px;
  background: #5e2bff;
}

/* JOB */
.job-container {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(15, 37, 54);
  background: linear-gradient(347deg, rgb(16, 40, 58) 0%, rgb(12, 28, 41) 100%);
  border-radius: 7px;
}

.logo {
  cursor: pointer;
  height: 80px;
}

.cactuslogo {
  height: 110px;
}

.job-logo {
  width: 20%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cactus {
  height: 170px;
  overflow: hidden;
}

.job-info {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 10px;
  text-align: left;
}

.info-title {
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
}

.info-desc {
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  color: #ece7dc;
  font-size: 0.9rem;
}

.info-tech {
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  color: #5e2bff;
  font-weight: 700;
  font-size: 0.9rem;
}

.job-line {
  width: 100%;
  height: 7.5vh;
}

.line {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.line-actual {
  width: 1px;
  height: 100%;
  border: #ece7dc 2px dashed;
}

@media screen and (max-width: 600px) {
  .job-logo {
    width: 27.5%;
  }

  .experience-wrapper h2 {
    font-size: 2.5rem;
  }

  .job-container {
    background: transparent;
    /* background: linear-gradient(347deg, rgb(16, 40, 58) 0%, rgb(12, 28, 41) 0%); */
    background-color: transparent;
  }
}
