.experience {
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
  background-color: #09151e;
}

.experience-wrapper {
  margin: 50px 0;
  width: 87.5%;
  height: 100%;
  max-width: 1050px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
}

.experience-title {
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 152.5px;
  margin-bottom: 40px;
}

.title-bar-experience {
  height: 3px;
  width: 40px;
  background: #5e2bff;
}

/* JOB */
.job-container {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  height: 80px;
}

.cactuslogo {
  height: 110px;
}

.job-logo {
  width: 20%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cactus {
  height: 170px;
  overflow: hidden;
}

.job-info {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  text-align: left;
}

.info-title {
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
}

.info-desc {
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  color: #ece7dc;
  font-size: 0.9rem;
}

.info-tech {
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  color: #5e2bff;
  font-weight: 700;
  font-size: 0.9rem;
}

.job-line {
  width: 100%;
  height: 7.5vh;
}

.line {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.line-actual {
  width: 2px;
  height: 100%;
  border: white 2px dashed;
}
