*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
.App,
#root {
  box-sizing: border-box;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d1f2d;
  color: #fd586e;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
  position: relative;
  border: yellow 1px solid;
}

.App::before {
  content: "";
  width: 90%;
  height: 3000px;
  background-color: #ece7dc;
  position: absolute;
  z-index: -99;
  top: -700px;
  left: 60%;
  transform: rotate(-20deg);
}

@media screen and (max-width: 900px) {
  .App::before {
    width: 800px;
    left: 60%;
    transform: rotate(-10deg);
  }
}

@media screen and (max-width: 615px) {
  .App::before {
    width: 800px;
    left: 80%;
    transform: rotate(-10deg);
  }
}
