/* General Nav Styles */

.nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
}

.nav-wrapper {
  width: 100%;
  max-width: 2560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.nav-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  transition: all 200ms ease-in-out;
}

.nav-icon:hover {
  color: #fd586e;
}

.nav-icon:hover span {
  color: white;
}

.nav-icon span {
  color: #fd586e;
  font-size: 1rem;
  transition: all 200ms ease-in-out;
}

.nav-menu {
  width: 40%;
  min-width: 350px;
  max-width: 450px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

/* Nav Button Normal + Hover Effects */

.nav-button {
  width: fit-content;
  height: 30px;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  color: white;
  transition: color 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button svg {
  padding: 0px 4px;
}

.nav-button::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  transition: all 200ms ease-in-out;
}

.nav-button:hover::after {
  width: 100%;
  left: 0;
  background-color: #fd586e;
}

.nav-button:hover {
  color: #fd586e;
}

/* Resume Nav Button */

.nav-resume-button {
  width: 90px;
  height: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: #fd586e 1px solid;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
}

.nav-resume-button:hover {
  background-color: #fd586e;
  color: white;
}

/* Mobile Nav Menu Items */

.nav-mobile-menu {
}

.nav-mobile-button {
}

.nav-mobile-resume-button {
}
