/* General Nav Styles */

.nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
}

.nav-wrapper {
  width: 100%;
  max-width: 2560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.nav-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-menu {
  width: 40%;
  min-width: 450px;
  max-width: 700px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

/* Nav Button Normal + Hover Effects */

.nav-button {
  width: fit-content;
  height: 30px;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  color: white;
  transition: color 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button svg {
  padding: 0px 4px;
}

.nav-button::after {
  content: "";
  position: absolute;
  background-color: #fd586e;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  transition: all 200ms ease-in-out;
}

.nav-button:hover::after {
  width: 100%;
  left: 0;
}

.nav-button:hover {
  color: #fd586e;
}

/* Resume Nav Button */

.nav-resume-button {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  border: #fd586e 1px solid;
  border-radius: 5px;
  color: #fd586e;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
}

.nav-resume-button svg {
  padding-right: 3px;
  padding-top: -5px;
}

.nav-resume-button:hover {
  background-color: #dc4d60;
  color: white;
}
