.drop-nav {
  position: fixed;
  z-index: 97;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  opacity: 0.3;
  /* Lets see if this blur works */
  /* -webkit-backdrop-filter: url("#blur"); */
  backdrop-filter: url("#blur");
  /* -webkit-filter: blur(5px); */
  backdrop-filter: blur(6px);
  /* background-size: cover; */

  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.03), 0 0 4px 4px rgba(0, 0, 0, 0.02),
    0 6px 6px rgba(0, 0, 0, 0.01), 0 7px 8px rgba(0, 0, 0, 0.01);
}

.drop-nav-wrapper {
  width: 100%;
  max-width: 2560px;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  justify-content: space-between;
}

.drop-nav-icons {
  display: flex;
  position: relative;
  z-index: 99;
}

.drop-nav-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  transition: all 200ms ease-in-out;
}

.drop-nav-icon:hover {
  color: #fd586e;
}

.drop-nav-icon:hover span {
  color: white;
}

.drop-nav-icon span {
  color: #fd586e;
  font-size: 1rem;
  transition: all 200ms ease-in-out;
}

.drop-nav-icons-div {
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.drop-nav-icons-div a {
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.drop-nav-icons-div a :nth-child(2) {
  font-size: 1.25rem;
}

.drop-nav-icons-div svg {
  margin-left: 10px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.drop-nav-icons-div svg:hover {
  color: #fd586e;
}

.drop-nav-mobile-menu-hamburger {
  position: absolute;
  z-index: 99;
  top: 31px;
  right: 35px;
  width: fit-content;
  cursor: pointer;
  padding: 5px;
  transition: all 300ms ease-in-out;
}

.drop-nav-mobile-menu-hamburger:hover div {
  background-color: #253442;
}

.drop-nav-mobile-menu-hamburger:hover :nth-child(1) {
  transform: translateX(-3px);
}

.drop-nav-mobile-menu-hamburger:hover :nth-child(2) {
  transform: translateX(3px);
}

.drop-nav-mobile-menu-hamburger:hover :nth-child(3) {
  transform: translateX(-3px);
}

/* hamburger bar animations when menu is active */

.drop-nav-mobile-menu-hamburger.active .drop-span {
  background-color: #fff;
}

.drop-nav-mobile-menu-hamburger.active:hover .drop-span {
  background-color: #fd586e;
}

.drop-nav-mobile-menu-hamburger.active :nth-child(1) {
  transform: rotate(-45deg) translateY(8px);
}

.drop-nav-mobile-menu-hamburger.active :nth-child(2) {
  transform: translateX(-5x);
  opacity: 0;
}

.drop-nav-mobile-menu-hamburger.active :nth-child(3) {
  transform: rotate(45deg) translateY(-8px);
}

.drop-nav-mobile-menu-hamburger :nth-child(2) {
  transform: translateX(-7px);
}

.drop-span {
  margin: 3px 0;
  width: 25px;
  height: 3px;
  background-color: #fd586e;
  transition: all 200ms ease-in-out;
}
